/* Сброс отступов и полей для всех элементов */
* {
    margin: 0;
    padding: 0;
}

/* Установка фонового цвета для всей страницы */
body {
    background-color: #272727;
}

/* Стили для заголовка */
header {
    color: #272727;
    text-align: center;
    padding: 10px 0;
}

/* Удаление маркеров списка и отступов */
header ul {
    list-style: none;
    padding: 0;
}

/* Расположение элементов списка в строку */
header li {
    display: inline;
    margin: 0 15px;
}

/* Стили для контейнера кнопок */
.button {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

/* Расположение элементов списка слева */
li {
    float: left;
}

/* Горизонтальное расположение кнопок */
.horizontal {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 25%;
}

/* Стили для кнопок в горизонтальном контейнере */
.horizontal button {
    margin-right: 35px;
    border-radius: 25px;
    background-color: #f4f4f4;
    height: 35px;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px #272727;
}

/* Эффект при наведении на кнопку */
.horizontal button:hover {
    background-color: #272727;
    color: #f4f4f4;
    border: solid 1px #f4f4f4;
}

/* Вертикальное расположение кнопок */
.vertical {
    position: absolute;
    left: 86%;
    display: flex;
    flex-direction: column;
}

/* Стили для кнопок в вертикальном контейнере */
.vertical button {
    height: 35px;
    width: 150px;
    border-radius: 25px;
    background-color: #f4f4f4;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px #272727;
    margin-bottom: 25px;
    margin-right: 15px;
}

/* Эффект при наведении на кнопку */
.vertical button:hover {
    background-color: #272727;
    color: #f4f4f4;
    border: solid 1px #f4f4f4;
}

/* Стили для поля ввода */
input {
    margin-right: 35px;
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 25px;
    background-color: #f4f4f4;
    border: solid 1px #272727;
}

/* Отступы для основного контента */
main {
    padding: 20px;
}

/* Отступ слева для поля поиска */
.search {
    padding-left: 10px;
}

/* Стили для контейнера объявлений */
.ads {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 20%;
    margin-left: 5%;

    .ad {
        margin: 10px;
        padding: 10px;
        flex: calc(20% - 42px);
    }
}

/* Стили для каждого объявления */
.ad {
    color: #f4f4f4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: calc(25% - 20px);
}

/* Стили для кнопок внутри объявления */
.ad button {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #272727;
    color: #f4f4f4;
    justify-content: left;
    text-align: left;
    cursor: pointer;
}

/* Стили для изображений */
img {
    width: 285px;
    height: 200px;
}

/* Стили для кнопки "Показать еще" */
.load-more {
    text-align: center;
    margin: 20px 0;
}

/* Стили для кнопки "Показать еще" */
.load-more-button {
    background-color: #f4f4f4;
    color: #272727;
    border: solid 1px #272727;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

/* Эффект при наведении на кнопку "Показать еще" */
.load-more-button:hover {
    background-color: #272727;
    color: #f4f4f4;
    border: solid 1px #f4f4f4;
}
